<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>user</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}"></link>
</head>
<body class="container">
<br/>
<h1>add Task to project <label th:text="*{project.title}"/></label></h1>
<br/><br/>

<div class="with:80%">
<table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr  th:each="task : ${project.tasks}">
            <th scope="row" th:text="${task.id}">1</th>
            <td th:text="${task.title}">neo</td>
            <td th:text="${task.description}">Otto</td>
       
            <td><a th:href="@{/task/toEdit(id=${task.id})}">edit</a></td>
            <td><a th:href="@{/task/delete(id=${task.id})}">delete</a></td>
             <td><a th:href="@{/project/toAddComment(id=${task.id})}">Add Comment to this task</a></td>
        </tr>
        </tbody>
    </table>
    <form class="form-horizontal"   th:action="@{/project/addTask}"  method="post">
    <input type="hidden" name="project" th:value="*{project.id}" />
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Title</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="title"  id="title" placeholder="title"/>
            </div>
        </div>
        <div class="form-group">
            <label for="title" class="col-sm-2 control-label">Start Date</label>
            <div class="col-sm-3">
              
                <input class="form-control" type="date" name="startDate"  id="startDate" placeholder="Start Date"/>
            </div>
            <label for="title" class="col-sm-2 control-label">End Date</label>
            <div class="col-sm-3">
                <input type="date" class="form-control" name="endDate"  id="endDate" placeholder="End Date"/>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label" >Description</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" name="description" id="description" placeholder="Description"/>
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <input type="submit" value="Submit" class="btn btn-info" />
                &nbsp; &nbsp; &nbsp;
                <input type="reset" value="Reset" class="btn btn-info" />
            </div>

        </div>
    </form>
</div>
</body>
</html>
